<app-accordion [initalCounter]="10" [stateMiddleware]="accordionStateMiddleware">
  <ng-template let-state let-handlers="handlers">
    
    <button appAccordionItem (click)="handlers.increment(printToConsole);">
      Upvote
    </button>

    <br>
    <h1>{{state.counter}}</h1>
    <br>

    <button (click)="handlers.decrement()">
      Downvote
    </button>

    <button (click)="handlers.reset(printToConsole)">Reset</button>
    <hr>
    <span *ngIf="state.counter >= 15">You reached the maximum limit, try after resetting it</span>
  </ng-template>
</app-accordion>

